@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

root {
    font-size: 16px;
    font-family:sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #212730;
    --bg-secondary: #e6e6e6;
    --transition-speed: 400ms;
  }
  
  body {
    color: black;
    background-color:rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  

  
  .navbar {
    position: fixed;
    background-color: rgba(33, 39, 48, 0.3);
    transition: width 400ms ease;

  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    font-family: sans-serif;
    font-weight: 100;
    align-items: center;
    height: 5rem;
    color: #e6e6e6;
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #4b5057;
    color: #e6e6e6;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color:#01acb4;
  }
  
  .fa-secondary {
    color: #e6e6e6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color:#b6b6b6;
    background: #01acb4;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  

  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarcon {
    display: block;
  }
  


 .About-txt{
    position: absolute;
    top: 5%;
    right: 71%;
    text-align: center; 
  }
  .About-txt h1{
    font-size: 50px;
    font-family: "Prompt", sans-serif;
    color:#e6e6e6;
    font-weight: 400;
  }

.Me-txt{
  position: absolute;
  top: 5%;
  right: 65%;
  text-align: center;
  
}  
.Me-txt h1{
  font-size: 50px;
  font-family: "Prompt", sans-serif;
  text-align: center;
  color: #00cccc;
  font-weight: 600;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-19 16:55:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.wave{
  aspect-ratio: 900/600;
  background-repeat: no-repeat;
  background-size: cover;
  width: 79%;
}
.layer{
  background-image: url('layer.svg');
}
.content{
  position: absolute;
  top: 17%;
  right: 25%;

}
.content p{
  color: #e6e6e6;
  font-size: 25px;
  font-weight: 200;
  font-family: "Prompt", sans-serif;
}


.small-bar{
  display: flex;
  position: fixed;
  width: 1700px;
  height: 60px;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(122deg, #161616, #04a2be);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:37% 0%}
  50%{background-position:64% 100%}
  100%{background-position:37% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:37% 0%}
  50%{background-position:64% 100%}
  100%{background-position:37% 0%}
}
@keyframes AnimationName {
  0%{background-position:37% 0%}
  50%{background-position:64% 100%}
  100%{background-position:37% 0%}
}
.all{
  position: absolute;
  left: 20%;
  color: #e4e4e4;
  font-family: "Prompt",sans-serif;
  font-size: 15px;
  bottom: 0;
  font-weight: 320;
  
}
.contact{
  position: absolute;
  left: 37%;
  color: #e4e4e4;
  font-family: "Prompt",sans-serif;
  font-size: 15px;
  bottom: 0;
  font-weight: 320;
}
